<header class="row m-0 header-container pb-5 pt-4">
    <div class="col-6 px-5 pb-5 row m-0 mb-5 contenido">
        <img src="../../../../assets/img/logo-2.png" class="w-25 col-4" alt="">
        <div class="col-8 text-white text-start px-2 py-3">
            <h1 class="fs-1 fw-bold">Don Braulio</h1>
            <h2 class="fs-3 fw-light">Clínica Veterinaria</h2>
        </div>
    </div>
</header>
<nav class="navbar sticky-top navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="row collapse navbar-collapse p-3 p-sm-0" id="navbarTogglerDemo02">
            <ul class="navbar-nav col-12 col-sm-8 me-auto mb-2 mb-lg-0 d-flex ">
                <li class="nav-item mx-3" routerLinkActive="active">
                    <a class="nav-link active mx-3" [routerLink]="['']">Home</a>
                </li>

                <li class="nav-item dropdown" *ngIf = "usuarioService.userLoggedIn() && usuarioService.clientLogged()">
                    <a class="nav-link dropdown-toggle active" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Veterinaria</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                        <li><a class="dropdown-item" [routerLink]="[' ']">Turnos</a></li>
                        <li><a class="dropdown-item" [routerLink]="['']">Servicios</a></li>
                    </ul>
                </li>
                
                <a *ngIf = "usuarioService.userLoggedIn() && usuarioService.clientLogged()" class=" nav-item nav-link  active" href="#" id="navbarScrollingDropdown" role="button" [routerLink]="['tienda']" aria-expanded="false">Tienda</a>
                <a  *ngIf = "usuarioService.userLoggedIn() && usuarioService.clientLogged()" class=" nav-item nav-link active" href="#" id="navbarScrollingDropdown" role="button" [routerLink]="['carrito-compra']" aria-expanded="false">Carrito</a>
              
                 
                <li class="nav-item dropdown" *ngIf = "usuarioService.userLoggedIn() && !usuarioService.clientLogged()">
                    <a class="nav-link dropdown-toggle active mx-3" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Gestión Productos
                        <span *ngIf="vencimientos==true" class="badge rounded-pill bg-danger">Vencimientos</span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                        <li><a class="dropdown-item" [routerLink]="['productos']">Productos</a></li>
                        <li><a class="dropdown-item" [routerLink]="['proveedores']">Proveedores</a></li>
                        <li><a class="dropdown-item" [routerLink]="['categorias']">Categorías</a></li>
                        <li *ngIf="vencimientos==true"><a class="dropdown-item bg-danger text-white" [routerLink]="['proximos-vencimientos']">Vencimientos</a></li>
                        <li *ngIf="vencimientos==false"><a class="dropdown-item" [routerLink]="['proximos-vencimientos']">Vencimientos</a></li>
                    </ul>
                </li>
                <li class="nav-item" *ngIf = "usuarioService.userLoggedIn() && usuarioService.clientLogged() == false" >
                    <a class="nav-link active mx-3" [routerLink]="['usuarios']">Gestión de Usuarios</a>
                </li>
                <li class="nav-item" *ngIf = "usuarioService.userLoggedIn() && usuarioService.clientLogged() == false" >
                    <a class="nav-link active mx-3" [routerLink]="['reportes']" >Reportes</a>
                </li>
                <!--
                <li class="nav-item">
                    <a class="nav-link active" [routerLink]="['']">Nosotros</a>
                </li>
                -->
            </ul>
            <form class="col-12 col-sm-4 row p-0 m-0 d-flex ">
                <div class="row text-end">
                    <a class="col-12 text-white text-decoration-none" *ngIf="usuarioService.userLoggedIn()" [routerLink]="['login']" (click)="logout()">
                        {{usuarioService.userLogged()}} (logout)
                    </a>
                    <div class="col-12 justify-content-sm-evenly" *ngIf="!usuarioService.userLoggedIn()">
                        <button class="btn btn-dark btn-sm col-6 col-sm-10 col-md-5 "  [routerLink]="['login']">Iniciar Sesion</button>
                        <button class="btn btn-success btn-sm col-6 col-sm-10 col-md-5 " type="button">Crear cuenta</button>
                    </div>
                </div>
                
               
                
                
            </form>
        </div>
    </div>
</nav>