<header class="row m-0 header-container pb-5 pt-4">
    <div class="col-6 px-5 pb-5 row m-0 mb-5 contenido">
        <img src="../../../../assets/img/logo-2.png" class="w-25 col-4" alt="">
        <div class="col-8 text-white text-start px-2 py-3">
            <h1 class="fs-1 fw-bold">Don Braulio</h1>
            <h2 class="fs-3 fw-light">Clínica Veterinaria</h2>
        </div>
    </div>
</header>
<nav class="navbar sticky-top navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="row collapse navbar-collapse p-3 p-sm-0" id="navbarTogglerDemo02">
            <ul class="navbar-nav col-12 col-sm-8 me-auto mb-2 mb-lg-0 d-flex justify-content-evenly">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link active" [routerLink]="['']">Home</a>
                </li>

                <li class="nav-item dropdown">
                    <a class=" nav-item nav-link  active" href="#" id="navbarScrollingDropdown" role="button" [routerLink]="['tienda']" aria-expanded="false">Tienda</a>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Veterinaria</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                        <li><a class="dropdown-item" [routerLink]="[' ']">Turnos</a></li>
                        <li><a class="dropdown-item" [routerLink]="[' ']">Servicios</a></li>
                    </ul>
                </li>

                
                
                
                <!--
                <a *ngIf = "usuarioService.userLoggedIn() && usuarioService.clientLogged()" class=" nav-item nav-link  active" href="#" id="navbarScrollingDropdown" role="button" [routerLink]="['tienda']" aria-expanded="false">Tienda</a>
                <a  *ngIf = "usuarioService.userLoggedIn() && usuarioService.clientLogged()" class=" nav-item nav-link active" href="#" id="navbarScrollingDropdown" role="button" [routerLink]="['carrito-compra']" aria-expanded="false">Carrito</a>
                -->
                 
                <li class="nav-item dropdown" *ngIf = "usuarioService.userLoggedIn() && !usuarioService.clientLogged()">
                    <a class="nav-link dropdown-toggle active mx-3" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Gestión Productos
                        <span *ngIf="vencimientos==true" class="badge rounded-pill bg-danger">Vencimientos</span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                        <li><a class="dropdown-item" [routerLink]="['productos']">Productos</a></li>
                        <li><a class="dropdown-item" [routerLink]="['proveedores']">Proveedores</a></li>
                        <li><a class="dropdown-item" [routerLink]="['categorias']">Categorías</a></li>
                        <li *ngIf="vencimientos==true"><a class="dropdown-item bg-danger text-white" [routerLink]="['proximos-vencimientos']">Vencimientos</a></li>
                        <li *ngIf="vencimientos==false"><a class="dropdown-item" [routerLink]="['proximos-vencimientos']">Vencimientos</a></li>
                    </ul>
                </li>
                <li class="nav-item" *ngIf = "usuarioService.userLoggedIn() && usuarioService.clientLogged() == false" >
                    <a class="nav-link active mx-3" [routerLink]="['usuarios']">Gestión de Usuarios</a>
                </li>
                <li class="nav-item" *ngIf = "usuarioService.userLoggedIn() && usuarioService.clientLogged() == false" >
                    <a class="nav-link active mx-3" [routerLink]="['reportes']" >Reportes</a>
                </li>
            </ul>
            <form class="col-12 col-sm-4 row p-0 m-0 d-flex ">
                <div class="row text-end m-0 p-0">
                    <div class="col-12 row m-0 d-flex justify-content-evenly" *ngIf="usuarioService.userLoggedIn()">
                        <button *ngIf = "usuarioService.userLoggedIn() && usuarioService.clientLogged()" class="col-12 col-sm-4 btn btn-success" (click)="goToCart()">
                            Mi carrito&nbsp;
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" fill="currentColor" class="bi bi-cart4" viewBox="0 0 16 16">
                                <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
                            </svg>
                        </button>
                        <button class="col-12 col-sm-6 text-white text-decoration-none btn btn-danger mt-2 m-sm-auto" (click)="logout()">
                            {{usuarioService.userLogged()}} - Logout
                        </button>
                    </div>
                    <div class="col-12 row m-0 d-flex justify-content-evenly" *ngIf="!usuarioService.userLoggedIn()">
                        <button class="btn btn-dark col-12 col-sm-5 "  [routerLink]="['login']">Iniciar Sesion</button>
                        <button class="btn btn-success col-12 col-sm-5 mt-2 m-sm-auto" type="button">Crear cuenta</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</nav>