<div class="container-fluid p-0 m-0">
    <div class="row bg-logo m-0 p-0">
        <h1 class="text-center my-5 p-0">Los amamos como tú, <br> por eso tenemos lo mejor!!</h1>
    </div>
    <div class="row row-cols-1 m-0 p-0 row-cols-md-2 bg-body">
        <div class="col bg-side">
    
        </div>
        <div class="col">
            <div class="row h-100 align-items-center">
                <div class="row p-3" style="text-align: justify;">
                    <h2>Productos para tu mascota</h2>
                    <p>¡Las mascotas son nuestra pasión! Como amantes de las mascotas, 
                    siempre estamos buscando ese juguete, golosina, masticación o cama 
                    perfectos. Nos esforzamos por llevar productos de la más alta calidad 
                    para cumplir con los estrictos estándares de nuestros clientes. Cambiamos 
                    nuestro inventario con frecuencia, ¡así que venga y vea qué artículos 
                    nuevos tenemos para su amigo peludo!. <br>
                    Los mejores precios !! Ingresa a nuestra tienda y busca tu Producto!!
                     </p> 
                </div>
            </div>
        </div>
    </div>
    <div class="row bg-atencion m-0 p-0">
        <div style="background: rgba(92, 92, 143, 0.5);">
            <div class="row h-100">
                <div class="col-12 col-md-6 text-center text-white">
                    <h1 class="fw-bold" style="font-size: 5vw; color: rgba(8, 8, 22, 0.6);">Turnos online para veterinario y/o estetica a un click</h1>
                </div>
                <div class="col-12 col-md-6 ">
                    <div class="row h-100 align-items-end">
                        <div class="h-75 m-0">
                            <p class="" style="font-size: 2.9vw;color: rgba(229, 236, 231, 0.9);  text-shadow:  2px 2px 4px black">En Don Braulio nos ocupamos de tus urgencias y problemas, de forma rápida
                            y segura. Nuestro objetivo es hacerte la vida más fácil brindando
                            soluciones eficientes. Estamos al lado tuyo y de tu mascota siempre
                            que nos necesiten</p>
                        </div>
                    </div>
                </div>
                
                
            </div>
        </div>
    </div>
</div>