<div class="row my-4 my-md-5 mx-0 min-vh-100">
    <section class="col-12 col-md-10 mx-auto py-1 px-3 py-sm-3 px-sm-5 border shadow bg-body rounded">
        <div class="text-center text-uppercase text-decoration-underline mt-2 mt-md-3 mb-4 mb-md-5">
            <h2>Titulo</h2>
        </div>

        <div class="row mt-3">
            <div class="col-sm-10 col-12">
                <form action="" class="row justify-content-center">
                    <div class="mb-3 col-sm-6 col-12 row p-0">
                        <div class="col-12 col-sm-5">
                            <label for="categoria" class="form-label">Algo:</label>
                        </div>
                        <div class="col-12 col-sm-7">
                            <select id="categoria" name="categoria" class="form-select form-select-sm">
                                <option value="" selected></option>
                                <option value="m">----</option>
                            </select>
                        </div>
                    </div>
                    <div class=" mb-3 col-sm-2 col-12 row mx-sm-1">
                        <button class="btn btn-primary btn-sm ms-sm-2 col-12">Limpiar filtro</button>
                    </div>
                    <div class=" mb-3 col-sm-2 col-12 row">
                        <button class="btn btn-success btn-sm ms-sm-2 col-12" >Agregar</button>
                    </div>
                </form>
            </div>
            
        </div>

        

        <div class="p-md-2 mt-3 table-responsive">
            <table class="table align-middle">
                <thead class="table-dark">
                    <tr class="text-center ">
                        <th scope="col">a</th>
                        <th scope="col">b</th>
                        <th scope="col">c</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody  class="text-center">
                    <tr *ngFor=""> <!-- Para iterar elementos -->
                        <td> a </td>
                        <td> b </td>
                        <td> c </td>
                        
                        <td>
                            <button class="btn btn-success">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                </svg>
                            </button>
                            <button class="btn btn-danger" >
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                </svg>
                            </button>
                        </td>
                    </tr>
                </tbody>
              </table>
        </div>
    </section>
</div>