
<div class="row mt-3 min-vh-100 m-0 ">
    <div class="col-11 mx-auto bg-body">
        <div class="row text-uppercase bg-dark py-5 text-center align-items-center">
            <div class="col-12 col-md-8">
                <p class=" fs-2 fw-bold text-white m-0"> gestión de productos</p>
            </div>
            <div class="text-center col-12 col-md-4 p-0 m-0">
                <button class="btn btn-primary btn-lg p-3 fs-5 fw-bold m-0 mt-4 mt-md-0 me-md-3" (click)="agregarProducto()">
                    <i class="bi bi-plus-lg"></i>
                        AGREGAR PRODUCTO
                </button>
            </div>
        </div>
        
        <div class="col-12">
            <div class="p-md-4">
                
                <div class="row row-cols-auto justify-content-around filtros mt-1 pt-3 pb-3">
                    <div class="col-12">
                        <h3>Filtrar por:</h3>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3">
                        <select class="form-select mb-3 " aria-label=".form-select-lg example" [(ngModel)]="mascotaSeleccionada" (change)="filtrarTipoMascota()">
                            <option selected>Tipo de Mascota</option>
                            <option *ngFor="let tipoMascota of tiposMascota" [ngValue]="tipoMascota">{{tipoMascota}}</option>
                        </select>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3">
                        <select class="form-select mb-3" aria-label=".form-select-lg example" [(ngModel)]="categoriaSeleccionada" (change)="filtrarTipoProducto()">
                            <option selected>Categoria</option>
                            <option *ngFor="let tipoProducto of tiposProductos" [ngValue]="tipoProducto">{{tipoProducto}}</option>
                        </select>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3">
                        <select class="form-select mb-3" aria-label=".form-select-lg example" [(ngModel)]="precioSeleccionado" (change)="filtrarPrecio()">
                            <option selected>Precio Compra</option>
                            <option value="500">Hasta $500</option>
                            <option value="1000">Hasta $1000</option>
                            <option value="1500">Hasta $1500</option>
                            <option value="2000">Hasta $2000</option>
                            <option value="2500">Hasta $2500</option>
                            <option value="3000">Hasta $3000</option>
                            <option value="3500">Hasta $3500</option>
                            <option value="4000">Hasta $4000</option>
                            <option value="4500">Hasta $4500</option>
                            <option value="5000">Hasta $5000</option>
                            <option value="5001">$5001 o más</option>
                        </select>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3">
                        <select class="form-select mb-3" aria-label=".form-select-lg example" [(ngModel)]="proveedorSeleccionado" (change)="filtrarProveedor()">
                            <option selected>Proveedor</option>
                            <option *ngFor="let proveedor of proveedores" [ngValue]="proveedor.nombre">{{proveedor.nombre}}</option>
                        </select>
                    </div>
                    <div class="col-12 mb-2">
                        <form class="row p-0 d-flex justify-content-center g-2 ">
                            <div class="col-12 col-md-8">
                                <input [(ngModel)]="nombreCodigo" name="nombreCodigo" type="text" class="form-control fs-5 " placeholder="Ingrese Nombre o Código de Producto ...">
                            </div>
                            <div class="col-12 col-sm-4 col-md-3 ">
                                <button (click)="buscarProducto()" type="button" class="btn btn-primary  btn-lg w-100 m-auto">
                                    Buscar
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" fill="currentColor" class="bi bi-search"
                                        viewBox="0 0 16 16">
                                        <path
                                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                    </svg>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4 col-md-2 mt-2 mt-md-0 ">
                <button (click)="cargarProductos()" type="button" class="btn btn-success  btn-lg w-100 m-auto">
                    Limpiar filtros
                </button>
            </div>

            <div class="col-12 ">
                <div class="p-md-2 mt-1 table-responsive min-vh-100">
                    <table class="table table-striped align-middle " [mfData]="productos" #mf="mfDataTable"
                        [mfRowsOnPage]="10">
                        <thead class="table-dark ">
                            <tr class="text-center   ">
                                <th>Código</th>
                                <th>Nombre</th>
                                <th>Foto</th>
                                <th>Stock</th>
                                <th>Proveedor</th>
                                <th>Categoría</th>
                                <th>Precio Compra</th>
                                <th>Precio Venta</th>
                                <th>Vencimiento</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            <tr *ngFor="let producto of mf.data">
                                <td>{{producto.codigo}}</td>
                                <td>{{producto.nombre}}</td>
                                <td>
                                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                                        data-bs-target="#imagenModal" (click)="verFoto(producto)"><i class="bi bi-image"></i></button>
        
                                    <!-- Modal -->
                                    <div class="modal fade" id="imagenModal" tabindex="-1"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header bg-dark text-white">
                                                    <h5 class="m-auto">{{nombreProducto}}</h5>
                                                </div>
                                                <div class="modal-body">
                                                    <img src="{{foto}}" class="img-fluid" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>{{producto.stock}}</td>
                                <td>{{producto.proveedor.nombre}}</td>
                                <td>{{producto.categoria.tipoMascota}} - {{producto.categoria.tipoProducto}}</td>
                                <td>{{producto.precioCompra | currency:'$'}}</td>
                                <td>{{producto.precioVenta | currency:'$'}}</td>
                                <td>{{producto.fechaVencimiento | date : 'dd/MM/yyyy' }}</td>
                                <td>
                                    <button (click)="modificarProducto(producto)" type="button" class="btn btn-success" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                            title="Editar"><i class="bi bi-pencil"></i>
                                    </button>  
                                    <button (click)="confirmDelete(producto)" type="button" class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                            title="Eliminar"><i class="bi bi-trash"></i>
                                    </button>  
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="4">
                                    <mfBootstrapPaginator [rowsOnPageSet]="[10,20,25]"></mfBootstrapPaginator>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                    <div class="col-12 p-0" *ngIf="productos.length == 0">
                        <div class="py-3 alert alert-danger fs-2 fw-bold fst-italic text-uppercase text-center" role="alert">
                            No se encontraron coincidencias
                        </div>
                    </div>
                </div>
            </div>

        </div>

       
        <div class="row fw-bold fondo mt-3 mb-5">
            <div class="row w-100 fondo-frente p-4 text-white">
                <h1 class="mt-4">La Gestion de </h1>
                <h1>productos que tu</h1>
                <h1 class="mb-4">negocio necesita</h1>
            </div>
        
        </div>
    </div>
   

</div>
