<div class="row fw-bold fondo mt-3">
    <div class="row w-100 fondo-frente p-4 text-white">
        <h1 class="mt-4">La Gestion de </h1>
        <h1>productos que tu</h1>
        <h1 class="mb-4">negocio necesita</h1>
    </div>

</div>
<div class="row mt-3 min-vh-100 ">
    <div class="col-11 mx-auto bg-body">
        <div class="text-center text-uppercase bg-dark pt-4 pb-4 align-items-center ">
            <p class=" fs-1 fw-bold text-white"> gestion de productos</p>
        </div>
        <div class="col-12">
            <div class="p-md-4">
                <div class="row row-cols-auto justify-content-around rounded filtros mt-1  p-3">
                    <div class="col">Fltrar Por: </div>
                    <div>
                        <select class="form-select mb-3 " aria-label=".form-select-lg example">
                            <option selected> Tipo de Animal </option>
                            <option value="1">Alimento</option>
                            <option value="2">Medicamento</option>
                            <option value="3">Indumentaria</option>
                            <option value="3">Higiene</option>
                            <option value="3">Hogar</option>
                            <option value="3">Seguridad</option>
                        </select>
                    </div>
                    <div class="col">
                        <select class="form-select mb-3" aria-label=".form-select-lg example">
                            <option selected class="fw-bolder">Categoria</option>
                            <option value="1">Alimento</option>
                            <option value="2">Medicamento</option>
                            <option value="3">Indumentaria</option>
                            <option value="3">Higiene</option>
                            <option value="3">Hogar</option>
                            <option value="3">Seguridad</option>
                        </select>
                    </div>
                    <div class="col">
                        <select class="form-select mb-3" aria-label=".form-select-lg example">
                            <option selected class="fw-bolder">Marca</option>
                            <option value="1">Alimento</option>
                            <option value="2">Medicamento</option>
                            <option value="3">Indumentaria</option>
                            <option value="3">Higiene</option>
                            <option value="3">Hogar</option>
                            <option value="3">Seguridad</option>
                        </select>
                    </div>
                    <div class="col">
                        <select class="form-select mb-3" aria-label=".form-select-lg example">
                            <option selected class="fw-bolder">Precio</option>
                            <option value="1">Alimento</option>
                            <option value="2">Medicamento</option>
                            <option value="3">Indumentaria</option>
                            <option value="3">Higiene</option>
                            <option value="3">Hogar</option>
                            <option value="3">Seguridad</option>
                        </select>
                    </div>
                    <div class="col">
                        <select class="form-select mb-3" aria-label=".form-select-lg example">
                            <option selected class="fw-bolder">Proveedor</option>
                            <option value="1">Alimento</option>
                            <option value="2">Medicamento</option>
                            <option value="3">Indumentaria</option>
                            <option value="3">Higiene</option>
                            <option value="3">Hogar</option>
                            <option value="3">Seguridad</option>
                        </select>
                    </div>

                </div>
            </div>

            <div class="col-12 mb-3">
                <form class="row p-0 d-flex justify-content-center g-2 ">
                    <div class="col-12 col-md-8">
                        <input type="text" class="form-control fs-4 " placeholder="Ingrese nombre de producto ...">
                    </div>
                    <div class="col-12 col-sm-4 col-md-3 ">
                        <button type="button" class="btn btn-primary  btn-lg w-100 m-auto">
                            Buscar
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" fill="currentColor" class="bi bi-search"
                                viewBox="0 0 16 16">
                                <path
                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                            </svg>
                        </button>
                    </div>
                </form>
            </div>

            <div class="col-12 ">
                <div class="p-md-2 mt-1 table-responsive min-vh-100">
                    <table class="table table-striped align-middle " [mfData]="productos" #mf="mfDataTable"
                        [mfRowsOnPage]="10">
                        <thead class="table-dark fs-5 ">
                            <tr class="text-center">
                                <th>
                                    Nombre
                                </th>
                                <th>
                                    Stock
                                </th>
                                <th>
                                    Proveedor
                                </th>
                                <th>
                                    Categoria
                                </th>
                                <th>
                                    Precio Compra
                                </th>
                                <th>
                                    Precio Venta
                                </th>
                                <th>
                                    Vencimiento
                                </th>
                                <th>
                                    Accion
                                </th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            <tr *ngFor="let producto of mf.data">
                                <td>{{producto.nombre}}</td>
                                <td>{{producto.stock}}</td>
                                <td>{{producto.proveedor}}</td>
                                <td>{{producto.categoria}}</td>
                                <td>$ {{producto.precioCompra}}</td>
                                <td>$ {{producto.precioVenta}}</td>
                                <td>{{producto.vencimiento | date :'longDate'}}</td>
                                <td>
                                    <button class="btn btn-success" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                        title="Editar Registro">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" fill="currentColor"
                                            class="bi bi-pencil-square" viewBox="0 0 16 16">
                                            <path
                                                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                            <path fill-rule="evenodd"
                                                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                        </svg>
                                    </button>
                                    <button class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                        title="Eliminar Registro">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" fill="currentColor"
                                            class="bi bi-trash" viewBox="0 0 16 16">
                                            <path
                                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                            <path fill-rule="evenodd"
                                                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                        </svg>
                                    </button>
                                    <button class="btn btn-info" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                        title="Ver Detalles">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round">
                                            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z">
                                            </path>
                                            <circle cx="12" cy="12" r="3"></circle>
                                        </svg>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="4">
                                    <mfBootstrapPaginator [rowsOnPageSet]="[10,20,25]"></mfBootstrapPaginator>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

        </div>

        <div class="text-center pb-4">
            <button class="btn btn-primary btn-lg p-3 fs-3 fw-bold" (click)="agregarProducto()">AGREGAR
                PRODUCTO</button>
        </div>

    </div>

</div>