
<div class="row my-5 min-vh-100 mx-0">
    <div class="col-11 mx-auto bg-body">
        <div class="row text-uppercase bg-dark pt-4 pb-4 text-center align-items-center">
            <div class="col-12 col-md-12">
                <p class="text-center fs-2 fw-bold text-white mb-0">Próximos vencimientos</p>
            </div>
        </div>
            <div class="col-12 p-3">
                <div class="p-md-2 mt-1 table-responsive min-vh-100">
                    <table class="table table-striped align-middle " [mfData]="productos" #mf="mfDataTable"
                        [mfRowsOnPage]="10">
                        <thead class="table-dark ">
                            <tr class="text-center   ">
                                <th>Codigo</th>
                                <th>Nombre</th>
                                <th>Stock</th>
                                <th> Proveedor</th>
                                <th>Categoria</th>
                                <th>Precio Compra</th>
                                <th> Precio Venta</th>
                                <th>Vencimiento</th>
                                <th>Accion</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            <tr *ngFor="let producto of mf.data">
                                <td>CP{{producto.codigo}}</td>
                                <td>{{producto.nombre}}</td>
                                <td>{{producto.stock}}</td>
                                <td>{{producto.proveedor}}</td>
                                <td>{{producto.categoria}}</td>
                                <td>$ {{producto.precioCompra}}</td>
                                <td>$ {{producto.precioVenta}}</td>
                                <td>{{producto.vencimiento | date :'longDate'}}</td>
                                <td>
                                    <button class="btn btn-info" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                        title="Ver Detalles">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round">
                                            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z">
                                            </path>
                                            <circle cx="12" cy="12" r="3"></circle>
                                        </svg>
                                    </button>
                                    <button class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                        title="Eliminar Registro">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" fill="currentColor"
                                            class="bi bi-trash" viewBox="0 0 16 16">
                                            <path
                                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                            <path fill-rule="evenodd"
                                                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                        </svg>
                                    </button>
                                   
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr class=" w-100">
                                <td colspan="9" class="m-auto">
                                    <mfBootstrapPaginator [rowsOnPageSet]="[10,20,25]" class="d-flex justify-content-center"></mfBootstrapPaginator>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

        </div>
    </div>
   

</div>
