
<div class="row my-5 min-vh-100 mx-0">
    <div class="col-11 mx-auto bg-body">
        <div class="row text-uppercase bg-dark pt-4 pb-4 text-center align-items-center">
            <div class="col-12 col-md-12">
                <p class="text-center fs-2 fw-bold text-white mb-0">Próximos vencimientos</p>
            </div>
        </div>
        <div class="col-8 p-md-4 m-auto">
            <div class="row row-cols-auto justify-content-around filtros pt-3 pb-3">
                <div class="col-12 mb-2">
                    <h4>Próximos a vencer en:</h4>
                    <form class="row p-0 d-flex justify-content-center g-2 ">
                        <div class="col-12 col-md-6">
                            <input #filtro = "ngModel" [(ngModel)]="cantidadDias" name="cantidadDias" type="number" class="form-control fs-5 " placeholder="Cantidad de días">
                        </div>
                        <div class="col-10 col-sm-4 col-md-3 ">
                            <button (click)="cargarProductosPorDias()" type="button" class="btn btn-primary w-100 m-auto">
                                Buscar
                                <i class="bi bi-search"></i>
                            </button>
                        </div>
                        <div class="col-10 col-sm-4 col-md-3">
                            <button (click)="limpiarFiltro(filtro)" type="button" class="btn btn-success w-100 m-auto">
                                Limpiar
                            </button>
                        </div>
                    </form>
                </div>
                
            </div>
    </div>
        <div class="col-12 ">
            <div class="p-md-2 mt-1 table-responsive min-vh-100">
                <table class="table table-striped align-middle " [mfData]="productos" #mf="mfDataTable"
                    [mfRowsOnPage]="10">
                    <thead class="table-dark ">
                        <tr class="text-center   ">
                            <th>Codigo</th>
                            <th>Nombre</th>
                            <th>Foto</th>
                            <th>Stock</th>
                            <th>Proveedor</th>
                            <th>Categoria</th>
                            <th>Precio Compra</th>
                            <th>Precio Venta</th>
                            <th>Vencimiento</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr *ngFor="let producto of mf.data">
                            <td>{{producto.codigo}}</td>
                            <td>{{producto.nombre}}</td>
                            <td>
                                <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                                    data-bs-target="#imagenModal" (click)="verFoto(producto)"><i class="bi bi-image"></i></button>
    
                                <!-- Modal -->
                                <div class="modal fade" id="imagenModal" tabindex="-1"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header bg-dark text-white">
                                                <h5 class="m-auto">{{nombreProducto}}</h5>
                                            </div>
                                            <div class="modal-body">
                                                <img src="{{foto}}" class="img-fluid" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>{{producto.stock}}</td>
                            <td>{{producto.proveedor.nombre}}</td>
                            <td>{{producto.categoria.tipoMascota}} - {{producto.categoria.tipoProducto}}</td>
                            <td>{{producto.precioCompra | currency:'$'}}</td>
                            <td>{{producto.precioVenta | currency:'$'}}</td>
                            <td>{{producto.fechaVencimiento | date : 'dd/MM/yyyy' }}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4">
                                <mfBootstrapPaginator [rowsOnPageSet]="[10,20,25]"></mfBootstrapPaginator>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
   

</div>
