<div class="container rounded my-5 main">
    <div class="row bg-dark  text-white p-3">
        <div class="col-12">
            <h2 class="fs-2 text-center fw-normal text-uppercase my-4">
                ¿Cómo querés recibir o retirar tu compra?
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="container col-12 p-0 py-sm-2 px-sm-3 my-sm-0 m-0">
            <div class="row  px-3 px-sm-2 d-flex justify-content-evenly  m-0">
                <div class="col-12 col-sm-5 mx-auto bd-callout bd-callout-primary">
                    <div class="form-check m-0">
                        <input class="form-check-input" type="radio" name="formaEnvio" id="retiroSucursal">
                        <label class="form-check-label" for="retiroSucursal">
                            Retiro en sucursal
                        </label>
                    </div>
                </div>

                <div class="col-12 col-sm-5 mx-auto bd-callout bd-callout-primary">
                    <div class="form-check m-0">
                        <input class="form-check-input" type="radio" name="formaEnvio" id="envioDomicilio">
                        <label class="form-check-label" for="envioDomicilio">
                            Envío a domicilio
                        </label>
                    </div>
                </div>
            </div>
            <div class="row  px-3 px-sm-2 d-flex justify-content-center  m-0">
                <div class="col-12 col-sm-11 mx-auto bd-callout bd-callout-primary">
                    <div class="col-12 m-0 row">
                        <label for="direccion" class="form-label col-12 col-sm-2 m-0">Tu dirección</label>
                        <div class="col-12 col-sm-10">
                            <input type="text" class="form-control form-control-sm" id="direccion" placeholder="Tu dirección...">
                        </div>
                    </div>
                    <div class="col-12 m-0 row d-flex justify-content-evenly mt-4 mt-sm-5">
                        <a class="btn btn-success btn-sm col-12 col-sm-3 mb-2 mb-sm-auto">Confirmar domicilio</a>
                        <a class="btn btn-info btn-sm col-12 col-sm-3">Modificar domicilio</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row bg-dark  text-white p-3 d-flex justify-content-evenly">
        <a class="btn btn-danger btn-lg col-12 col-sm-4 my-2 my-sm-2" [routerLink]="['select-pago']">
            Volver
        </a>
        <a class="btn btn-warning btn-lg col-12 col-sm-4 my-2 my-sm-2" [routerLink]="['detalles']">
            Continuar
        </a>
    </div>
</div>