
<div class="row mt-3 min-vh-100 m-0 ">
    <div class="col-11 mx-auto bg-body">
        <div class="row text-uppercase bg-dark py-5 text-center align-items-center">
            <div class="col-12">
                <p class=" fs-2 fw-bold text-white m-0"> reportes</p>
            </div>
        </div>
        
        <div class="col-12">
            <div class="p-md-4">
                
                <div class="row row-cols-auto justify-content-around filtros mt-1 pt-3 pb-3">
                    <div class="col-12 mb-3">

                        <div class="row justify-content-center p-0 mb-3">
                            <div class="col-2 col-sm-3 col-md-2 col-lg-1 mb-3 mb-lg-0">
                                <h5 class="text-end mt-2" >Tipo:</h5>
                            </div>
                            <div class="col-10 col-sm-8 col-md-10 col-lg-2 mb-3 mb-lg-0">
                                <select class="form-select fs-5" aria-label=".form-select-lg example" name="tipoSeleccionado" [(ngModel)]="tipoSeleccionado">
                                    <option>Ventas</option>
                                    <option>Compras</option>
                                </select>
                            </div>
                            <div class="col-2 col-sm-3 col-md-2 col-lg-1">
                                <h5 class="text-end mt-2" >De:</h5>
                            </div>
                            <div class="col-10  col-sm-8 col-md-4 col-lg-3">
                                <input type="date" class="form-control fs-5" id="fechaDesde" placeholder="" name="fechaDesde"
                                [(ngModel)]="fechaDesde">
                            </div>
                            <div class="col-2  col-sm-3 col-md-1 col-lg-1 mt-3 mt-md-0">
                                <h5 class="text-end mt-2" >A:</h5>
                            </div>
                            <div class="col-10 col-sm-8 col-md-4 col-lg-3 mt-3 mt-md-0">
                                <input type="date" class="form-control fs-5" id="fechaHasta" placeholder="" name="fechaHasta"
                                [(ngModel)]="fechaHasta" (change)="filtrarFechas()">
                            </div>
                            <div class="row col-12 mt-3 justify-content-center">
                                <div class="col-5 col-sm-4 col-md-3 col-lg-2 p-0 text-center me-3">
                                    <button (click)="generarInforme()" type="button" class="btn btn-primary w-100 fs-5 m-auto" title="Generar reporte">
                                        Generar 
                                    </button>
                                </div>
                                <div class="col-5 col-sm-4 col-md-3 col-lg-2 p-0 text-center">
                                    <button (click)="limpiarFiltros()" type="button" class="btn btn-success w-100 fs-5 m-auto" title="Limpiar filtros">
                                        Limpiar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            

            <div class="col-12 ">
                <div class="p-md-2 mt-1 table-responsive min-vh-100">
                    <table class="table table-striped align-middle " [mfData]="ventas" #mf="mfDataTable"
                        [mfRowsOnPage]="10">
                        <thead class="table-dark ">
                            <tr class="text-center   ">
                                <th>Fecha</th>
                                <th>Cliente</th>
                                <th>Precio Neto</th>
                                <th>Iva</th>
                                <th>Precio Total</th>
                                <th>Forma de pago</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            <tr *ngFor="let venta of mf.data">
                                <td>{{venta.fecha | date:"dd/MM/yyyy"}}</td>
                                <td>{{venta.usuario.apellido}}, {{venta.usuario.nombre}} </td>
                                <td>{{venta.pago.precioNeto | currency:"$"}}</td>
                                <td>{{venta.pago.iva | currency:"$"}}</td>
                                <td>{{venta.pago.precioTotal | currency:"$"}}</td>
                                <td>{{venta.pago.formaPago}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="4">
                                    <mfBootstrapPaginator [rowsOnPageSet]="[10,20,25]"></mfBootstrapPaginator>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                    <div class="col-12 p-0" *ngIf="ventas.length == 0">
                        <div class="py-3 alert alert-danger fs-2 fw-bold fst-italic text-uppercase text-center" role="alert">
                            No se encontraron coincidencias
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
